body {
  font-family: sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

table, th, td {
  border: solid 1px black;
}

table {
  width: 100%;
}

.box {
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;

  margin: 3px;
}

#title {
  margin-top: 20vh;
}

.hidden {
  display: none;
}

#permulaan {
  margin-top: 20px;
}

#pertanyaandiv button {
  font-size: 15pt;
  margin-right: 5px;
}

#pertanyaandiv #jawabandiv{
  margin-top: 5vh;
}

#pertanyaandiv {
  text-align: center;
}

#persentase {
  font-style: bold;
  font-size: 30pt;
}

#hasil {
  font-style: bold;
  font-size: 20pt;
}

@media only screen and (min-width: 960px) {
  body {
    margin: 0 10vw;
  }
}
